* {
  text-align: center;
  background-color: whitesmoke;
}
.header {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  transition: 1s ease-out;
}

.spinner {
  background-image: url("https://placeimg.com/320/240/tech");
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
}